[submodule "Airplane"]
	path = Airplane
	url = https://github.com/Technove/Airplane.git
[submodule "toothpick"]
	path = toothpick
	url = https://github.com/SoKnight/Toothpick.git
[submodule "AdvancedSlimePaper"]
	path = AdvancedSlimePaper
	url = https://github.com/SoKnight/AdvancedSlimePaper.git
